# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Pip dependency file
pip-log.txt

# Other
2024/Day4/Day4BugSearch.docx
2025/session_cookie.txt